{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tickets/after_payment.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<div class="jf-thank-you-container">
    <h1 class="jf-thank-you-header">Takk for ditt kjøp!</h1>
    <p class="jf-thank-you-message">Vi setter pris på at du valgte oss. Dine billetter er nå klare og kan finnes under "Mine billetter".</p>
    <a href="/tickets/my_tickets" class="jf-thank-you-link">Gå til Mine billetter</a>
</div>
{% endblock %}