# Dependencies
node_modules/

# Django
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
media/

# Django Templates (do not format - contains template tags)
**/templates/**/*.html


# Build
dist/
build/
