.jf-thank-you-container {
  text-align: center;
  margin: 50px auto 30px;
  padding: 20px;
  max-width: 600px;
  background-color: var(--th-black);
  color: var(--th-white);
  border: 1px solid var(--th-light-gray);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--th-black-a10);
}

.jf-thank-you-header {
  font-size: 2rem;
  color: var(--th-white);
  margin-bottom: 15px;
}

.jf-thank-you-message {
  font-size: 1.2rem;
  color: var(--th-muted);
  margin-bottom: 20px;
}

.jf-thank-you-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--th-white);
  background-color: var(--th-light-gray);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.jf-thank-you-link:hover {
  background-color: var(--th-muted);
}
