{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<link rel="stylesheet" href="{% static 'users/login.css' %}">
{% endblock %}

{% block title %}Logg inn{% endblock %}

{% block content %}
<main class="CB1-main">
    <div class="CB1-login-card">
        <h1 class="CB1-title">Tilbakestill passord</h1>
        <p class="CB1-subtitle">Lag et nytt passord her!</p>

        <form action = '{% url 'users:resetPassword' %}' method="post" class="CB1-form">
            {% csrf_token %}
            <div class="CB1-form-group">
                <label for="password">Nytt Passord</label>
                <input type="password" name="password" placeholder = "Opprett passord" id="password" required>
            </div>

            <div class="CB1-form-group">
                <label for="password">Bekreft Passord</label>
                <input type="password" name="confirm_password" placeholder = "Bekreft passord" id="password" required>
            </div>


            {% if messages %}
                <div class="CB1-error">{% include 'includes/alerts.html'%}</div>
            {% endif %}

            <button type="submit" class="CB1-btn-submit">Tilbakestill</button>
        </form>

        <div class="CB1-register-text">
            Har du ikke konto? <a href="{% url 'users:register'%}">Registrer deg her</a>
        </div>
    </div>
</main>
{% endblock %}